<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>airbank-mac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>airbank-ocr-demo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>testOCR-both.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A311AB192E16883E00C8B181</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A311AB252E16883F00C8B181</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A311AB2F2E16883F00C8B181</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A37771502E12C179005E6BC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFAD6E802382AABB00FE14F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
